body { 
	padding-top: 80px; 
	padding-bottom: 80px;
}

.movies {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em .5em 1.5em 0;
  padding-bottom: 1em;
  height: 80px;
  width: 80px;
}

.movies li {
  clear: both;
  height: 170px;
  padding-top: 15px;
}

