<div class="col-md-4" ng-controller="movieListCtrl" >
   <input type="search" ng-model="query" placeholder="search" class="text-center pull-right"><br><br>
      <select ng-model="orderProp" class="btn-primary pull-right">
         <option value="name">Title</option>
         <option value="star">Alphabetical</option>
       </select><br>
    <h2 class="text-center">Box Office Hits:</h2>  
      <ul class="movies">
        <li ng-repeat="movie in movies | filter:query | orderBy:orderProp" class="thumbnail">
         <a href="#/movies/{{movie.id}}" class="thumb"><img ng-src="{{movie.images}}"></a>
          <strong><a href="#/movies/{{movie.id}}">{{movie.name}}</a></strong>
            <p><em>Starring: {{movie.star}}</em></p>
            <p><a href="#/movies/{{movie.id}}">Snippet: {{movie.snippet}}</a></p>
        </li>
      </ul>
</div>
    